.Content{
	margin:0 auto; 
	width: 100%;
}

.Column{
	display: none;
}

/* Utilities */


/* MainMenu */

/*.MainMenu{
    background: #8bc34a;
    text-align: right;
    height: 2.5em;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
}*/

.MainMenu{
    background: #017360;
    text-align: center;
    height: 3em;
    width: 100%;
}

.MainMenu-list{
    margin:0;
    padding: 0;
}

.MainMenu-item{
    display: inline-block;
}

.MainMenu-link{
    color: white;
    text-decoration: none;
    line-height: 3em;
    padding: 0 .5em; 
}

.MainMenu-link:hover{
    color: #D9F4C6;
    text-decoration: none;
    line-height: 2em;
    padding: 0 .5em; 
}

/* Header */

.Header{
	margin: 0 auto; 
	width: 100%;
}

.Header-imageContainer1{
	width: 100px;
	border-radius: 50%;
	margin: 0.5em 0.5em 0 1em;
	padding-right: 0.5em;
}

.Header-imageContainer2{
	width: 100px;
	margin: 0 0.5em 0 1em;
	padding-right: 0.5em;
}

.Header-image1,
.Header-image2{
	width: 100%;
}

.Header-image1:hover{
	-webkit-transition: .5s;
	-webkit-transform: rotate(360deg);
}

/* Sponsors */
.Sponsors{
	margin: 1em 0 0 0;
	padding-top: .5em;
	border-top: solid 2px #2d3c4d;
	text-align: center;
}

.Sponsors-title{
	margin: 0 0 0 0;
	color: #017360;
	font-size: 1.2em;
}

.Sponsors-link{
	display: inline-block;
	width: 120px;
	margin: 0 0 .5em 0;
	padding: 0 .5em;
}

.Sponsors-image{
	width: 100%;
}

/* Footer */
.Footer{
    background: #017360;
    padding:1em 0;
    text-align: center;
    width: 100%;
}

.Footer-title{
    color: white;
    font-size: 1.2em;
    margin: 0;
}


@media screen and (min-width: 768px){
	.Header-imageContainer1,
	.Header-imageContainer2{
		width: 150px;
	}

	.Sponsors-link{
		width: 160px;
	}
}

@media screen and (min-width: 1024px){
	.Content{
		width: 1024px;
	}

	.Header{
		width: 1024px;
	}
}

@media screen and (min-width: 1000px){
	.Column{
		border: solid 2px #017360;
		display: block;
		float: right;
		margin: .5em;
		width: 25%;
	}
}